<!DOCTYPE html>   
<html>   
<head>  
<title> Login Page </title>   
</head>    
<body>    
    <form action="/users/create" method="POST">  
        <div class="container">   
            <label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required> 
            <label for="repeatPassword"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="repeatpassword" >
            <button type="submit">click forLogin</button>   
        </div>   
    </form>     
</body>     
</html>  
