<!DOCTYPE html>   
<html>   
<head>  
<title> SINUP Page </title>   
</head>    
<body>    
    <form action="/users/create-user" method="POST">  
        <div class="container"> 
         <label>Username : </label>  
        
     <input type="text" placeholder="Enter Username" name="username" required>   
        <label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>
<label for="password"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="password" required>
<label for="repeatPassword"><b>Repeat Password</b></label>


<input type="password" placeholder="Repeat Password" name="repeatpassword"
    required></input> 
    <button type="submit">Login</button>     
        </div> 
        
        
    </form>     
</body>     
</html>  
